@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}
nav {
    height: 100px;
}
.navbar-nav {
    gap: 50px;
    .nav-item {
        a {
          color: #1F1F1F;
          font-family: 'Proxima Nova', sans-serif;
          font-size: 20px;
          font-weight: 400;
          line-height: normal;
          padding: 0;
        }
    }
}

.book-btn {
    a {
        border-radius: 6px;
        background: #36B864;
        display: flex;
        padding: 12px 32px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: unset;
    }
}
.nav-link-wrapper {
    position: relative;
  }
  
  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ddd;
    z-index: 999;
    width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
  }
  
  .dropdown-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 25%;
    min-width: 200px;
      li {
        padding: 8px 12px;
        cursor: pointer;
        &:hover {
          background-color: #f0f0f0;
        }
      }
  }
  .product-dropdown {
    width: calc(100% - 200px);
    position: relative;
    display: block;
    padding: 30px;
    .product-grid {
      .row {
        .col-md-4 {
          flex-direction: column;
          padding: 10px;
        }
      }
      img {
        width: 75px;
        height: 75px;
        background: #D9D9D9;
        margin-bottom: 14px;
      }
      span {
        color: #000;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 200px;
      }
    }
  }
