@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}
nav {
    height: 100px;
}
.navbar-nav {
    gap: 50px;
    .nav-item {
        a {
            color: #4D4D4D;
          font-family: "Be Vietnam Pro", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
            padding: 0;
        }
    }
}

.book-btn {
    a {
        border-radius: 6px;
        background: #36B864;
        display: flex;
        padding: 12px 32px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: unset;
    }
}