
nav {
    height: 100px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
}

.bg-custom {
  background-color: #e4e4e4e3;
}
.navbar-nav {
    gap: 50px;
    .nav-item {
        a {
          color: #525552;
          font-size: 20px;
          font-weight: 500;
          line-height: normal;
          padding: 0;
          cursor: pointer;
          cursor : pointer;
          &.active {
            color: #36B864 !important;
          }
          &:hover {
            color: #36B864 !important; 
          }
          &.btn{
            color: #FFF;
            font-size: 16px;
            font-weight: 600;
            line-height: normal;
            padding: 10px 32px;
            background: #36B864;
            transition: 0.5s;
    
                &:hover {
                   color: #36B864;
                   background:#fff ;
                }
          }
        }
    }
}

.book-btn {
    a {
        border-radius: 6px;
        background: #36B864;
        display: flex;
        padding: 12px 32px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: unset;
    }
}
.nav-link-wrapper {
    position: relative;
    padding: 35px 0;
  }
  
  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ddd;
    z-index: 999;
    width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   // border-radius: 20px;
   ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 25%;
    min-width: 200px;
    padding: 25px 0px 0 30px;

      li {
        padding: 10px 17px;
        cursor: pointer;
        margin-bottom: 6px;
        color: #212121;
        font-size: 20px;
        font-weight: 600;
        line-height: 26px; 
        border-left: 3px solid transparent;
        &:hover {
         // border-radius: 6px;
          border-color:rgba(54, 184, 100, 0.60);
          color: rgba(54, 184, 100, 0.60);
        }
      }
  }
}
  .product-dropdown {
    width: calc(100% - 200px);
    position: relative;
    display: block;
    padding: 30px;
    .product-grid {
      .row {
        .col-md-4 {
       //   flex-direction: column;
          padding: 10px;
        }
      }
      img {
        width: 75px;
        height: 75px;
        background: #D9D9D9;
        margin-bottom: 14px;
      }
      span {
        color: #000;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: auto;
        width: 150px;
      }
      .view-all {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
        // min-height: 110px;
        width: 193px;
        display: flex;
        align-items: center;
        justify-content: center;
        // text-decoration: underline;
        padding: 12px 0;
        border-radius: 34px;
        background-color: #36B864;
        border: 1px solid rgb(139, 255, 201);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        color: #FFF;
        cursor: pointer;
        margin-top: 20px;

        &:hover {
          background: #36B864;
          border: 1px solid #36B864;
        }
      }
    }
  }
  .input-grey-rounded{
    font-size: 16px;
    line-height: 1.5;
    background: #FFF;
    border: 1px solid #B8B8B84D;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cg clip-path='url(%23clip0_7349_57299)'%3E%3Cpath d='M14.1341 12.9957C15.2306 11.6133 15.8284 9.90123 15.8306 8.13674C15.8396 3.78127 12.3048 0.234787 7.95207 0.224631C3.59933 0.214475 0.0528506 3.74768 0.0434756 8.10315C0.0341007 12.4586 3.56652 16.0024 7.91847 16.0117C9.86727 16.0176 11.7486 15.2984 13.1966 13.9942L18.77 19.5918C18.8334 19.6553 18.9086 19.7056 18.9915 19.7399C19.0744 19.7741 19.1632 19.7916 19.2528 19.7914C19.3887 19.7927 19.5218 19.7535 19.6352 19.6788C19.7486 19.604 19.8372 19.4972 19.8897 19.372C19.9422 19.2467 19.9561 19.1086 19.9298 18.9754C19.9035 18.8421 19.8381 18.7198 19.7419 18.6239L14.1341 12.9957ZM7.92316 14.641C4.32316 14.6332 1.40637 11.7004 1.41418 8.10588C1.42199 4.51135 4.35129 1.58752 7.94933 1.59533C11.5474 1.60315 14.4673 4.53557 14.4599 8.13362C14.4525 11.7317 11.5193 14.6488 7.92121 14.641H7.92316Z' fill='%23232323'/%3E%3Cpath d='M11.3863 3.64025C10.5947 3.0307 9.6558 2.64155 8.66508 2.51236C7.67436 2.38317 6.6671 2.51854 5.74565 2.90471C5.52148 2.99915 5.30359 3.10783 5.0933 3.2301C5.01021 3.27239 4.93662 3.33119 4.87703 3.4029C4.81744 3.47461 4.77311 3.55773 4.74674 3.64716C4.72037 3.73659 4.71252 3.83045 4.72367 3.92302C4.73482 4.01559 4.76473 4.10491 4.81158 4.18552C4.85843 4.26613 4.92123 4.33634 4.99615 4.39185C5.07106 4.44736 5.15651 4.48701 5.24726 4.50836C5.33802 4.52972 5.43218 4.53234 5.52399 4.51606C5.61579 4.49978 5.70331 4.46495 5.78119 4.41369C6.51682 3.98677 7.36289 3.78851 8.2116 3.84416C9.06031 3.89982 9.87324 4.20687 10.5468 4.72619C10.6908 4.83751 10.8732 4.88706 11.0537 4.86395C11.2342 4.84084 11.3982 4.74695 11.5095 4.60295C11.6208 4.45894 11.6704 4.27662 11.6473 4.09608C11.6242 3.91554 11.5303 3.75157 11.3863 3.64025Z' fill='%23232323'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_7349_57299'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 15px 10px;
    background-size: 20px 20px;
    border-radius: 40px;
    max-width: 214px;
    width: 100%;
    height: 44px;
    padding:0.5em 1em 0.7em 3em;
    } 
    
    .input-grey-rounded::placeholder{
      color: #232323;
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
      margin-left: 1rem;
    }
    
    .input-grey-rounded:focus {
      outline: none;
      background-color: #FFF;
      border: 1px solid #84A2FA;
    }
    .menu-icon {
      margin-left: 20px;
      cursor: pointer;
      &.with-bg{
        background-color: #36B864;
        padding: 8px;
        border-radius: 50%;
        height: 32px;
        display: flex;
        align-items: center;
        width: 32px;
        svg{
          width: 19px;
          height: 19px;
        }
}
      }
    
