.footer-main {
    padding: 24px 0;
    background: #1E1E1E;
    .footer-content {
        color: #FFF;
        text-align: center;
        font-family: 'Proxima Nova', sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }
}