<swiper-container #swiper   navigation="true"
pagination="false"
slides-per-view="3"
slides-per-group="3"
space-between="20"
loop="false"
speed="500"
[breakpoints]="breakpoints"
>
  <swiper-slide *ngFor="let category of categories">
    <div class="swipe-container">
        <div class="swipe-card">
            <img class="swiperImage" src="{{category?.image}}" [alt]="category?.cate_name">
            <h4 class="swipe-header">
                {{category?.cate_name}}
            </h4>
            <p class="swipe-desc">
              {{category?.description}}
            </p>
        </div>
    </div>
  </swiper-slide>
</swiper-container>