#container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  .swiper-button-prev {
    max-width: 52px !important;
    max-height: 52px !important;
    background-color: #36B864;
    border-radius: 50%;
  }
  
  .swiperImage{
    width: 355px;
    height: 300px;
  }
  .swipe-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .swipe-card {
        max-width: 370px;
        width: 100%;
        .swipe-header {
          color: #111D15;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
          margin-top: 1.1rem;
        }
        img {
            width: 100%;
            height: 100%;
            max-width: 370px;
            max-height: 262px;
            object-fit: cover;
        }
        .swipe-desc {
          color: #1F1F1F;
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
    }
  }
