<section class="product-section">
    <div class="container">
        <div class="product-bread-crumb">
            <span class="parent-crumb" (click)="goHome()">Home</span> / <span class="child-crumb">{{selectedCategory?.cate_name}}</span>
        </div>
        <div class="product-header">
           <h2>{{selectedCategory?.cate_name}}</h2>
        </div>
        <div class="product-desc">
           <p>{{selectedCategory?.description}}</p>
        </div>
        <div class="product-btns" *ngIf="false">
          <a class="btn-product">All</a>
          <a class="btn-product">PRE-INSULATED DUCT</a>
        </div>
        <div class="product-container">
            <div class="row row-cols-5 row-cols-sm-2 row-cols-lg-4 row-cols-xl-5">
                <div class="col" *ngFor = "let item of selectedCategory?.productList">
                    <div class="product-box">
                        <div class="product-image">
                            <img [src]="item?.image" alt="Product Image">
                        </div>
                        <div class="product-title">
                            <h5>{{item?.cate_name}}</h5>
                         </div>
                         <span class="product-details">
                             <p>{{item?.description}}</p>
                         </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>