<section class="product-section">
    <div class="container">
        <div class="product-bread-crumb">
            <span class="parent-crumb">Home</span> / <span class="child-crumb">Mechanical</span>
        </div>
        <div class="product-header">
           <h2>Mechanical</h2>
        </div>
        <div class="product-desc">
           <p>Premium performance technical insulation products and systems for pipe and ductwork in building services, HVAC and industrial applications.</p>
        </div>
        <div class="product-btns">
          <a class="btn-product">All</a>
          <a class="btn-product">PRE-INSULATED DUCT</a>
        </div>
        <div class="product-container">
            <div class="row">
                <div class="col-md-3">
                    <div class="product-box">
                        <div class="product-image">
                            <img src="../../assets/product-images/KDuct.png" alt="">
                        </div>
                        <div class="product-title">
                            <h5>KDuct Pre-Clad PIR</h5>
                         </div>
                         <span class="product-details">
                             <p>Fibre-free rigid thermoset foil faced polyisocyanurate (PIR) Insulation</p>
                         </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-box">
                        <div class="product-image">
                            <img src="../../assets/product-images/KDuct.png" alt="">
                        </div>
                        <div class="product-title">
                            <h5>KDuct Pre-Clad PIR</h5>
                         </div>
                         <span class="product-details">
                             <p>Fibre-free rigid thermoset foil faced polyisocyanurate (PIR) Insulation</p>
                         </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-box">
                        <div class="product-image">
                            <img src="../../assets/product-images/KDuct.png" alt="">
                        </div>
                        <div class="product-title">
                            <h5>KDuct Pre-Clad PIR</h5>
                         </div>
                         <span class="product-details">
                             <p>Fibre-free rigid thermoset foil faced polyisocyanurate (PIR) Insulation</p>
                         </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-box">
                        <div class="product-image">
                            <img src="../../assets/product-images/KDuct.png" alt="">
                        </div>
                        <div class="product-title">
                            <h5>KDuct Pre-Clad PIR</h5>
                         </div>
                         <span class="product-details">
                             <p>Fibre-free rigid thermoset foil faced polyisocyanurate (PIR) Insulation</p>
                         </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>