<section class="cta-banner">
    <div class="container">
        <div class="banner-inner d-block">
           <h2 class="banner-header">
            Your Trusted Global Partner in Mechnical, Electrical, Plumbing & Fire Protection Supply Solutions!
           </h2>
           <h5>
            Your Global Partner for Mechanical, Electrical, Plumbing, and Fire Protection Supply Chain Solutions in Construction, Trusted Every Step of the Way."
           </h5>
           <div class="cta-actions">
            <button class="cta-first">Get  Start Now</button>
            <button class="cta-two">Explore Our Solutions</button>
           </div>
        </div>
    </div>
</section>